/*
 * -------------------------------------------------
 *  nf-core/qtlmap Nextflow tartu_hpc config file
 * -------------------------------------------------
 * A 'blank slate' config file, appropriate for general
 * use on most high performace compute environments.
 * Assumes that all software is installed and available
 * on the PATH. Runs in `local` mode - all jobs will be
 * run on the logged in environment.
 */

singularity {
  enabled = true
  autoMounts = true
  cacheDir = "$baseDir/singularity_img/"
}

executor {
    name = 'slurm'
    queueSize = 1200
    submitRateLimit = 1
}

process {
  executor = 'slurm'
  queue = 'amd'
  // clusterOptions = '--nodelist=artemis1'
  container = 'quay.io/eqtlcatalogue/recap_plot:v22.06.2'
}

params {
  mane_transcript_gene_map = "/gpfs/space/projects/genomic_references/annotations/eQTLCatalogue/v1.0/MANE_transcript_gene_map.txt"
  mane_gtf_file = "/gpfs/space/projects/genomic_references/annotations/eQTLCatalogue/v1.0/Homo_sapiens.GRCh38.105.gtf"
  tx_gtf_file = "/gpfs/space/projects/genomic_references/annotations/eQTLCatalogue/v1.0/GENCODE/gencode.v39.annotation.nochr.gtf"
  txrev_gtf_file = "/gpfs/space/home/kerimov/GitHub/coverage_plots/data/txrevise.all.gff3"
}