/*
 * -------------------------------------------------
 *  nf-core/qtlmap Nextflow tartu_hpc config file
 * -------------------------------------------------
 * A 'blank slate' config file, appropriate for general
 * use on most high performace compute environments.
 * Assumes that all software is installed and available
 * on the PATH. Runs in `local` mode - all jobs will be
 * run on the logged in environment.
 */

// singularity {
//   enabled = true
//   autoMounts = true
//   cacheDir = "$baseDir/singularity_img/"
// }

executor {
    name = 'slurm'
    queueSize = 60
    submitRateLimit = 1
}

process {
  executor = 'slurm'
  queue = 'amd'
}

params {
  // ***************** NORMALISATION module related parameters *****************

  // Phenotype metadata pathes. TODO: replace to fetch them from FTP in future
  array_pheno_meta_path = "/gpfs/space/projects/genomic_references/annotations/eQTLCatalogue/v0.1/phenotype_metadata/HumanHT-12_V4_Ensembl_96_phenotype_metadata.tsv.gz"
  ge_pheno_meta_path = "/gpfs/space/projects/genomic_references/annotations/eQTLCatalogue/v1.0/phenotype_metadata/gene_counts_Ensembl_105_phenotype_metadata.tsv.gz"
  tx_pheno_meta_path= "/gpfs/space/projects/genomic_references/annotations/eQTLCatalogue/v1.0/phenotype_metadata/transcript_usage_Ensembl_105_phenotype_metadata.tsv.gz"
  txrev_pheno_meta_path= "/gpfs/space/projects/genomic_references/annotations/eQTLCatalogue/v1.0/phenotype_metadata/txrevise_Ensembl_105_phenotype_metadata.tsv.gz"
  exon_pheno_meta_path= "/gpfs/space/projects/genomic_references/annotations/eQTLCatalogue/v1.0/phenotype_metadata/exon_counts_Ensembl_105_phenotype_metadata.tsv.gz"

  // leafcutter annotation
  leafcutter_transcript_meta = "/gpfs/space/projects/genomic_references/annotations/eQTLCatalogue/v1.0/Homo_sapiens.GRCh38.105_biomart_download.txt.gz"
  leafcutter_intron_annotation = "/gpfs/space/projects/genomic_references/annotations/eQTLCatalogue/v1.0/leafcutter_annotations/gencode_v39_all_introns.bed.gz"

  mane_transcript_gene_map = "/gpfs/space/projects/genomic_references/annotations/eQTLCatalogue/v1.0/MANE_transcript_gene_map.txt"
  mane_gtf_file = "/gpfs/space/projects/genomic_references/annotations/eQTLCatalogue/v1.0/Homo_sapiens.GRCh38.105.gtf"
  tx_gtf_file = "/gpfs/space/projects/genomic_references/annotations/eQTLCatalogue/v1.0/GENCODE/gencode.v39.annotation.nochr.gtf"
  txrev_gtf_file = "/gpfs/space/home/kerimov/GitHub/coverage_plots/data/txrevise.all.gff3"
}